    <div class="container">
        <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-6">
                                <app-progress-bar [progressBar]="progresso"></app-progress-bar>
                        </div>
                        <div class="col-sm-6">
                                <app-tentativas></app-tentativas>
                               Acertos -> {{acertos}}
                        </div>
                        <div class="row">
                            <div class="col text-right">
                                    <button type="button" style="margin-top:-75px;" class="btn btn-warning" (click)="resetarPartida()">Reiniciar</button>
                            </div>
                        </div>
                    </div>
                
                <div class="row">
                    <div class="col text-left">
                        <h3>{{instrucao}}</h3>
                        <p>{{frases[indice].fraseEng}}</p>

                        <div class="form-group">
                                <textarea class="form-control" rows="3" [(ngModel)]="areaTexto"></textarea>
                              </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col text-right">
                                <button type="button" class="btn btn-primary" (click)=" incrementarProgresso()">Avançar</button>
                        </div>
                    </div>
        </div>

  </div>